<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="staticfiles/about.css">
</head>
<h1 class="title"> About</h1>
<body>
  <header>
    <div class="upper">
         <nav class="navigation">
             <a href="Account.html">Account</a>
             <a href="Graduation.html">Home</a>
             <a href="about.html">About</a>
             <a href="FeedBack.html">FeedBack</a>
         </nav>
    </div>
    
 </header>
  <main>
    <p class="words">We convert your hand written bills data and categorize it 
        espesially for you , then convert it to understable csv format </p>
    <img class="img" src="D:\Graduation Website\about" >  
  </main>
</body>
</html>